*{
  box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: darkred;
    font-family: Century Light, serif;
    }

img{
    border-radius: 75%;
}
  
  #logo {
    position: fixed;
    top:30px;
    left:30px;
    transform: rotate(340deg);
    max-width: 250px;
    max-height: 250px;
    border-radius: 90%;
  }

  .sub{
    font-size: 1rem;
  }

  div {
    margin: 10px;
    padding: 5px;
    background-color: lightgray;
    display: inline-block;
    border: darkred double 5px;
    margin: auto;
    width: 30%;
    height: 30%;
  }


  #top{
    border-bottom: darkred dashed;
    padding: 5px;
  }
  
  section{
    padding: 5px;
  }

  .container{
    display: inline-flex;
    padding: 5px;
    margin: auto;
    justify-content: center;
  }

  .under{
    display: block;
    margin: auto;
  }
  
